<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
       <typeAliases>
              <!--<typeAlias alias="BlackList" type="com.jd.jyk.domain.YKBlackList" />-->
       </typeAliases>
       <typeHandlers>
              <typeHandler handler="com.jd.util.convert.MoneyTypeHandler" />
       </typeHandlers>
       <mappers>
              <mapper resource="mappers/StudentMapper.xml"/>
              <mapper resource="mappers/TeacherMapper.xml"/>
       </mappers>
</configuration>