<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jsf="http://jsf.jd.com/schema/jsf"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://jsf.jd.com/schema/jsf http://jsf.jd.com/schema/jsf/jsf.xsd">

    <!-- 注册中心 address="192.168.150.119:40660,192.168.150.121:40660" -->
    <jsf:registry id="jsfRegistry" index="i.jsf.jd.com" />

    <!-- 服务端 端口默认22000-->
    <jsf:server id="myjsf" protocol="jsf"/>

    <jsf:consumer id="taskDispatcherService" interface="com.jd.crp.service.task.TaskDispatcherService"
                  alias="Ptest" timeout="5000" retries="0" serialization="hessian"/>

</beans>
